@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0c0a1a;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-orbitron {
  font-family: 'Orbitron', sans-serif;
}